APP_ENV=prod
APP_SECRET=change-me-secret
JWT_SECRET=d5157fcee032c41535144ca89719c65951c81635f9b5f0140a3d15c087f11724

POSTGRES_DB=main
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SERVER_VERSION=17
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?serverVersion=${POSTGRES_SERVER_VERSION}&charset=utf8"

POSTGRES_TEST_DB=main_test
POSTGRES_TEST_USER=app
POSTGRES_TEST_PASSWORD=change-me-test-db-password
POSTGRES_TEST_HOST=postgres_test
POSTGRES_TEST_PORT=5432
DATABASE_URL_TEST="postgresql://${POSTGRES_TEST_USER}:${POSTGRES_TEST_PASSWORD}@${POSTGRES_TEST_HOST}:${POSTGRES_TEST_PORT}/${POSTGRES_TEST_DB}?serverVersion=${POSTGRES_SERVER_VERSION}&charset=utf8"
