APP_ENV=prod
APP_SECRET=change-me-secret

POSTGRES_DB=main
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SERVER_VERSION=17
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?serverVersion=${POSTGRES_SERVER_VERSION}&charset=utf8"
