includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    symfony:
        consoleApplicationLoader: tests/phpstan-console-loader.php
